@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.rdp-vhidden {
  @apply hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: 21 100% 95%;
  --foreground: 21 5% 10%;
  --card: 21 50% 92%;
  --card-foreground: 21 5% 15%;
  --popover: 21 100% 95%;
  --popover-foreground: 21 100% 10%;
  --primary: 21 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 21 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: -17 30% 92%;
  --muted-foreground: 21 5% 40%;
  --accent: -17 30% 90%;
  --accent-foreground: 21 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 21 5% 92%;
  --border: 21 30% 82%;
  --input: 21 30% 50%;
  --ring: 21 100% 50%;
  --radius: 0.5rem;
}
.dark {
  --background: 20.5 10% 6%;
  --foreground: 20.5 0% 90%;
  --card: 20.5 0% 6%;
  --card-foreground: 20.5 0% 90%;
  --popover: 20.5 10% 5%;
  --popover-foreground: 20.5 0% 90%;
  --primary: 20.5 90.2% 48.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 20.5 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: -17.5 10% 15%;
  --muted-foreground: 20.5 0% 60%;
  --accent: -17.5 10% 15%;
  --accent-foreground: 20.5 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 20.5 0% 90%;
  --border: 20.5 20% 18%;
  --input: 20.5 20% 18%;
  --ring: 20.5 90.2% 48.2%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
